@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}

@import url("https://fonts.googleapis.com/css?family=Manrope:300,regular,500,600,700,800");

@import "_nullstyle.scss";
@import "fonts";
@import "swiper.scss";

$fontFamily: "Manrope";

$minwidth: 320px;
$mw: 1110;
$md1: $mw + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

body {
	color: #000;
	font-size: 14px;
	font-family: $fontFamily;
	font-weight: 400;
	&.lock {
		overflow: hidden;
	}
}

.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	&.loaded {
	}
}

.container {
	max-width: $mw + px;
	margin: 0 auto;
	width: 100%;
	@media (max-width: $md1+px) {
		max-width: 970px;
	}
	@media (max-width: $md2+px) {
		max-width: 750px;
	}
	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 10px;
	}
}

@import "header.scss";
@import "footer.scss";

//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
.hero-screen {
	padding: 80px 0px 80px 0px;
	position: relative;
	@media (max-width: $md3+px) {
		padding: 40px 0px 30px 0px;
		background: #ffbf33;
	}
	&__body {
		position: relative;
		display: flex;
		@media (max-width: $md3+px) {
			flex-wrap: wrap;
		}
	}
	&__content {
		flex: 0 0 55%;
		position: relative;
		z-index: 2;
		@media (max-width: $md3+px) {
			flex: 0 0 100%;
			margin: 0px 0px 30px 0px;
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}

	&__title {
		font-weight: 800;
		font-size: calc(25px + (65 - 25) * ((100vw - 320px) / (1440 - 320)));
		line-height: calc(25px + (90 - 25) * ((100vw - 320px) / (1440 - 320)));
		@media (min-width: $mw+px) {
			font-size: 65px;
			line-height: 90px;
		}
		color: #111111;
		margin: 36px 0px 50px 0px;
		max-width: 572px;
		@media (max-width: $md3+px) {
			text-align: center;
			margin: 15px 0px 30px 0px;
		}
	}

	&__text {
		font-size: 18px;
		line-height: 30px;
		color: #111111;
		max-width: 545px;
		font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1440 - 320)));
		line-height: calc(20px + (30 - 23) * ((100vw - 320px) / (1440 - 320)));
		@media (min-width: $mw+px) {
			font-size: 18px;
			line-height: 20px;
		}
		@media (max-width: $md3+px) {
			text-align: center;
		}
	}

	&__link {
		display: inline-flex;
		align-items: center;
		height: 62px;
		padding: 0px 49px;
		margin: 50px 0px 0px 0px;
		font-weight: 700;
		font-size: 20px;
		text-align: center;
		color: #111111;
		background-color: #ffbf33;
		border-radius: 8px;
		text-align: center;
		@media (max-width: $md3+px) {
			background-color: #111111;
			color: #ffbf33;
		}
	}

	&__bg-circle {
		position: absolute;
		width: 745px;
		height: 745px;
		top: -64%;
		right: -23%;
		border-radius: 50%;
		background: #ffbf33;
		@media (max-width: $md3+px) {
			display: none;
		}
	}
	&__image {
		position: relative;
		z-index: 2;
		img {
			max-width: 100%;
		}

		@media (max-width: $md3+px) {
			flex: 0 0 100%;
		}
	}
}
.partners {
	padding: 80px 0px 80px 0px;
	@media (max-width: $md3+px) {
		padding: 40px 0px 40px 0px;
	}
	&__body {
	}

	&__list {
		padding: 44px 0px 20px 0px;
		display: flex;
		justify-content: center;
		border: 1px solid rgba(17, 17, 17, 0.2);
		border-right: none;
		border-left: none;
		flex-wrap: wrap;
		@media (max-width: $md4+px) {
			padding: 20px 0px 20px 0px;
		}
	}
	&__list-item {
		margin: 0px 32px 24px 32px;
		img {
			max-width: 100%;
		}
	}
}
.advantages {
	padding: 80px 0px 80px 0px;
	@media (max-width: $md3+px) {
		padding: 40px 0px 40px 0px;
	}
	&__body {
	}

	&__title {
		margin: 0px 0px 50px 0px;
		@media (max-width: $md3+px) {
			text-align: center;
			margin: 0px 0px 30px 0px;
		}
	}

	&__items {
		display: flex;
		margin: 0px -15px;
		justify-content: space-between;
		@media (max-width: $md2+px) {
			flex-wrap: wrap;
			justify-content: center;
		}
	}

	&__item {
		padding: 0px 15px;
		display: flex;
		flex-direction: column;
		align-items: center;
		@media (max-width: $md2+px) {
			margin: 0px 0px 30px 0px;
		}
	}

	&__item-img {
		img {
			max-width: 100%;
		}
		margin: 0px 0px 5px 0px;
	}

	&__item-title {
		font-weight: 600;
		font-size: 24px;
		line-height: 32px;
		text-align: center;
		color: #111111;
		margin: 0px 0px 8px 0px;
	}

	&__item-text {
		font-size: 16px;
		line-height: 26px;
		text-align: center;
		color: #111111;
		max-width: 350px;
	}
}

.title {
	font-weight: 800;

	font-size: calc(24px + (48 - 24) * ((100vw - 320px) / (1440 - 320)));
	line-height: calc(21px + (64 - 21) * ((100vw - 320px) / (1440 - 320)));
	@media (min-width: $mw+px) {
		font-size: 48px;
		line-height: 64px;
	}

	&_b {
		color: #111111;
	}
	&_w {
		color: #fff;
	}
	span {
		color: #ffbf33;
	}
}
.text {
	font-size: 18px;
	line-height: 32px;
	color: #111111;
	font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1440 - 320)));
	line-height: calc(21px + (32 - 21) * ((100vw - 320px) / (1440 - 320)));
	@media (min-width: $mw+px) {
		font-size: 18px;
		line-height: 32px;
	}
}

.work-process {
	padding: 80px 0px 80px 0px;
	@media (max-width: $md3+px) {
		padding: 40px 0px 40px 0px;
	}
	&__body {
	}

	&__title {
		margin: 0px 0px 50px 0px;
		@media (max-width: $md3+px) {
			text-align: center;
			margin: 0px 0px 30px 0px;
		}
	}

	&__items {
		display: flex;
		margin: 0px -15px;
		justify-content: space-between;
		@media (max-width: $md2+px) {
			flex-wrap: wrap;
			justify-content: center;
		}
	}

	&__item {
		padding: 0px 15px;
		flex: 0 0 25%;
		@media (max-width: $md2+px) {
			margin: 0px 0px 15px 0px;
			flex: 0 0 50%;
		}
		@media (max-width: 530px) {
			flex: 0 0 100%;
		}
	}

	&__item-point {
		display: flex;
		align-items: center;
		margin: 0px 0px 16px 0px;
	}

	&__point-circle {
		flex: 0 0 24px;
		height: 24px;
		border-radius: 50%;
		background: #ffbf33;
	}

	&__point-line {
		flex: 1 1 auto;
		margin: 0px 24px;
		height: 1px;
		border-top: 2px dashed #111111;
	}

	&__item-name {
		margin: 0px 0px 4px 0px;
		font-weight: 500;
		font-size: 20px;
		line-height: 30px;
		color: #111111;
	}

	&__item-text {
		font-size: 16px;
		line-height: 26px;
		color: #111111;
	}
}

.our-work {
	position: relative;
	padding: 380px 0px 126px 0px;
	@media (max-width: $md2+px) {
		padding: 180px 0px 80px 0px;
	}
	@media (max-width: $md3+px) {
		padding: 40px 0px 40px 0px;
	}
	&__bg-img {
		position: absolute;
		top: 80px;
		width: 100%;
		left: 0;
		height: 57%;
		background: url("../img/our-work-bg.png") center/cover no-repeat;
		@media (max-width: $md2+px) {
			height: 70%;
		}
		@media (max-width: $md3+px) {
			top: 0;
		}
	}

	&__bg-color {
		height: 290px;
		background-color: #111111;
		position: absolute;
		bottom: 0;
		height: 43%;
		left: 0;
		width: 100%;
		@media (max-width: $md2+px) {
			height: 30%;
		}
	}

	&__body {
		display: flex;
		justify-content: flex-end;
	}

	&__content {
		position: relative;
		z-index: 2;
		padding: 64px;
		background-color: #fff;
		max-width: 540px;
		border-radius: 8px;

		@media (max-width: $md3+px) {
			padding: 34px 32px;
		}
	}

	&__title {
		margin: 0px 0px 10px 0px;
		@media (max-width: $md3+px) {
			text-align: center;
		}
	}

	&__text {
		margin: 0px 0px 50px 0px;
		@media (max-width: $md3+px) {
			margin: 0px 0px 30px 0px;
			text-align: center;
		}
	}

	&__links {
		display: flex;
		@media (max-width: $md2+px) {
			flex-wrap: wrap;
		}
		@media (max-width: $md3+px) {
			justify-content: center;
		}
	}

	&__link {
		display: inline-block;
		font-weight: 700;
		font-size: 20px;
		color: #ffbf33;
		position: relative;
		margin: 0px 40px 0px 0px;
		@media (max-width: $md2+px) {
			margin: 0px 20px 20px 0px;
		}

		&_video {
			padding: 0px 0px 0px 20px;
			margin: 0px 0px 0px 0px;
			&:before {
				content: "";
				position: absolute;
				width: 11px;
				height: 16px;
				top: 50%;
				left: 0;
				transform: translate(0, -50%);
				background: url("../img/video-arrow.svg") center/contain no-repeat;
			}
		}
		@media (min-width: $md2+px) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.reviews {
	background-color: #111111;
	padding: 80px 0px 0px 0px;
	@media (max-width: $md3+px) {
		padding: 40px 0px 0px 0px;
	}

	&__body {
		max-width: 1195px;
		margin: 0px auto;
		border-bottom: 1px solid rgba(17, 17, 17, 0.2);
		padding: 0px 10px;
	}

	&__title {
		margin: 0px 0px 30px 0px;
		@media (max-width: $md3+px) {
			text-align: center;
		}
	}

	&__slider {
	}

	&__slides {
	}

	&__slide {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0px 10px 0px 0px;
		@media (max-width: $md3+px) {
			flex-wrap: wrap;
			padding: 0px 20px;
		}
	}

	&__slide-content {
		flex: 0 0 60%;
		@media (max-width: $md3+px) {
			flex: 0 0 100%;
			order: 2;
		}
	}

	&__slide-text {
		color: #ffffff;
		margin: 0px 0px 50px 0px;
		position: relative;
		z-index: 3;
		@media (max-width: $md3+px) {
			margin: 0px 0px 30px 0px;
			text-align: center;
		}
		&:before {
			content: "";
			position: absolute;
			width: 71px;
			height: 60px;
			top: 0;
			left: 0;
			// background: url("../img/brecets.svg") center/contain no-repeat;
			z-index: 1;
		}
	}

	&__slide-person {
		color: #ffbf33;
		font-weight: 700;
		font-size: 18px;
		margin: 0px 0px 10px 0px;
		@media (max-width: $md3+px) {
			text-align: center;
		}
	}

	&__slide-job {
		color: #ffbf33;
		font-size: 16px;
		margin: 0px 0px 50px 0px;
		@media (max-width: $md3+px) {
			text-align: center;
		}
	}

	&__slide-img {
		flex: 0 0 40%;
		display: flex;
		align-self: flex-start;
		@media (max-width: $md3+px) {
			flex: 0 0 100%;
			order: 1;
			margin: 0px 0px 10px 0px;
			justify-content: center;
		}
		img {
			max-width: 100%;
			@media (max-width: $md3+px) {
				max-width: 70%;
			}
		}
	}
}

.swiper-pagination {
	position: absolute;
	transition: 300ms opacity;
	transform: translate3d(0, 0, 0);
	z-index: 10;
	left: 0;
	bottom: 30px;
	padding: 0px 0px 0px 0px;
	@media (max-width: $md2+px) {
		bottom: 20px;
	}
	@media (max-width: $md3+px) {
		left: 50%;
		transform: translate(-50%, 0);
	}
	&-clickable {
		cursor: pointer;
	}
}
.swiper-pagination-bullet {
	width: 10px;
	height: 10px;
	display: inline-block;
	border-radius: 50%;
	background: #fff;
	margin: 0px 12px 0px 0px;
	&-active {
		background: #ffbf33;
	}
}
