@import url("https://fonts.googleapis.com/css?family=Manrope:300,regular,500,600,700,800");

* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside,
section {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  color: #000;
  font-size: 14px;
  font-family: "Manrope";
  font-weight: 400;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  width: 100%;
}

.header {
  position: relative;
  z-index: 50;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 72px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.header__logo {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 131px;
  flex: 0 0 131px;
  position: relative;
  z-index: 4;
}

.header__logo img {
  max-width: 100%;
}

.header__links {
  position: relative;
  z-index: 4;
}

.header__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 40px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  padding: 0px 23px;
  background-color: #111111;
  border-radius: 8px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header-menu {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  position: relative;
  z-index: 4;
}

.header-menu__icon {
  display: none;
}

.header-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.header-menu__item + .header-menu__item {
  margin: 0px 0px 0px 32px;
}

.header-menu__link {
  font-weight: 700;
  color: #111111;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.hero-screen {
  padding: 80px 0px 80px 0px;
  position: relative;
}

.hero-screen__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-screen__content {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 55%;
  flex: 0 0 55%;
  position: relative;
  z-index: 2;
}

.hero-screen__title {
  font-weight: 800;
  font-size: calc(25px + (65 - 25) * ((100vw - 320px) / (1440 - 320)));
  line-height: calc(25px + (90 - 25) * ((100vw - 320px) / (1440 - 320)));
  color: #111111;
  margin: 36px 0px 50px 0px;
  max-width: 572px;
}

.hero-screen__text {
  font-size: 18px;
  line-height: 30px;
  color: #111111;
  max-width: 545px;
  font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1440 - 320)));
  line-height: calc(20px + (30 - 23) * ((100vw - 320px) / (1440 - 320)));
}

.hero-screen__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 62px;
  padding: 0px 49px;
  margin: 50px 0px 0px 0px;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: #111111;
  background-color: #ffbf33;
  border-radius: 8px;
  text-align: center;
}

.hero-screen__bg-circle {
  position: absolute;
  width: 745px;
  height: 745px;
  top: -64%;
  right: -23%;
  border-radius: 50%;
  background: #ffbf33;
}

.hero-screen__image {
  position: relative;
  z-index: 2;
}

.hero-screen__image img {
  max-width: 100%;
}

.partners {
  padding: 80px 0px 80px 0px;
}

.partners__list {
  padding: 44px 0px 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 1px solid rgba(17, 17, 17, 0.2);
  border-right: none;
  border-left: none;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.partners__list-item {
  margin: 0px 32px 24px 32px;
}

.partners__list-item img {
  max-width: 100%;
}

.advantages {
  padding: 80px 0px 80px 0px;
}

.advantages__title {
  margin: 0px 0px 50px 0px;
}

.advantages__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -15px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.advantages__item {
  padding: 0px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.advantages__item-img {
  margin: 0px 0px 5px 0px;
}

.advantages__item-img img {
  max-width: 100%;
}

.advantages__item-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #111111;
  margin: 0px 0px 8px 0px;
}

.advantages__item-text {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #111111;
  max-width: 350px;
}

.title {
  font-weight: 800;
  color: #111111;
  font-size: calc(24px + (48 - 24) * ((100vw - 320px) / (1440 - 320)));
  line-height: calc(21px + (64 - 21) * ((100vw - 320px) / (1440 - 320)));
}

.title span {
  color: #ffbf33;
}

.work-process {
  padding: 80px 0px 80px 0px;
}

.work-process__title {
  margin: 0px 0px 50px 0px;
}

.work-process__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -15px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.work-process__item {
  padding: 0px 15px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
}

.work-process__item-point {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0px 0px 16px 0px;
}

.work-process__point-circle {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 24px;
  flex: 0 0 24px;
  height: 24px;
  border-radius: 50%;
  background: #ffbf33;
}

.work-process__point-line {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin: 0px 24px;
  height: 1px;
  border-top: 2px dashed #111111;
}

.work-process__item-name {
  margin: 0px 0px 4px 0px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #111111;
}

.work-process__item-text {
  font-size: 16px;
  line-height: 26px;
  color: #111111;
}

@media (min-width: 991.98px) {
  .header__link:hover {
    background-color: #ffbf33;
  }

  .header-menu__link:hover {
    color: #ffbf33;
  }
}

@media (min-width: 1110px) {
  .hero-screen__title {
    font-size: 65px;
    line-height: 90px;
  }

  .hero-screen__text {
    font-size: 18px;
    line-height: 20px;
  }

  .title {
    font-size: 48px;
    line-height: 64px;
  }
}

@media (max-width: 1122px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 750px;
  }

  .header-menu__item + .header-menu__item {
    margin: 0px 0px 0px 20px;
  }

  .advantages__items {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .advantages__item {
    margin: 0px 0px 30px 0px;
  }

  .work-process__items {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .work-process__item {
    margin: 0px 0px 15px 0px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }

  .header:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 3;
  }

  .header__body {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .header__logo {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100px;
    flex: 0 0 100px;
  }

  .header-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    overflow: auto;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    -webkit-transform: translate(0, -200%);
    -ms-transform: translate(0, -200%);
    transform: translate(0, -200%);
    background-color: #ffbf33;
  }

  .header-menu.active {
    -webkit-transform: translate(0, 0%);
    -ms-transform: translate(0, 0%);
    transform: translate(0, 0%);
  }

  .header-menu__icon {
    display: block;
    width: 20px;
    height: 20px;
    position: relative;
    z-index: 11;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header-menu__icon:before,
  .header-menu__icon:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    background-color: #111111;
    border-radius: 2px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header-menu__icon:before {
    top: 3px;
  }

  .header-menu__icon:after {
    bottom: 0px;
  }

  .header-menu__icon span {
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 10px;
    background-color: #111111;
    border-radius: 2px;
  }

  .header-menu__icon.active:before {
    top: 10px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .header-menu__icon.active:after {
    bottom: 8px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .header-menu__icon.active span {
    display: none;
  }

  .header-menu__list {
    display: block;
    padding: 150px 0px 30px 0px;
  }

  .header-menu__item + .header-menu__item {
    margin: 30px 0px 0px 00px;
  }

  .header-menu__item {
    text-align: center;
  }

  .header-menu__link {
    font-size: 20px;
  }

  .hero-screen {
    padding: 40px 0px 30px 0px;
    background: #ffbf33;
  }

  .hero-screen__body {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .hero-screen__content {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    margin: 0px 0px 30px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .hero-screen__title {
    text-align: center;
    margin: 15px 0px 30px 0px;
  }

  .hero-screen__text {
    text-align: center;
  }

  .hero-screen__link {
    background-color: #111111;
    color: #ffbf33;
  }

  .hero-screen__bg-circle {
    display: none;
  }

  .hero-screen__image {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }

  .partners {
    padding: 40px 0px 40px 0px;
  }

  .advantages {
    padding: 40px 0px 40px 0px;
  }

  .advantages__title {
    text-align: center;
    margin: 0px 0px 30px 0px;
  }

  .work-process {
    padding: 40px 0px 40px 0px;
  }

  .work-process__title {
    text-align: center;
    margin: 0px 0px 30px 0px;
  }
}

@media (max-width: 530px) {
  .work-process__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }
}

@media (max-width: 479.98px) {
  .partners__list {
    padding: 20px 0px 20px 0px;
  }
}